
<ul role="menu" class="dropdown-menu">
	<li>
		<a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Nun Sukun dan Tanwin</a>
		<ul role="menu" class="dropdown-menu"> <!--materi 1 -->
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idzhar Halqi</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/2">Idgham</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/3">Ikhfa'</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/4">Iqlab</a>
			</li>
		</ul>
	</li>
	<li>
		<a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Mim Mati</a>
		<ul role="menu" class="dropdown-menu"> <!--materi 2 -->
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/2/1">Ikhfa' Syafawi</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/2/2">Idgham Mimi</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/2/3">Izhar Syafawi</a>
			</li>
		</ul>
	</li>
	<li>
		<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/3/1" style="font-style: normal;">Mim dan Nun Bertasydid</a>
		<!--Materi 3-->
	</li>
	<li>
		<a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Alif Lam Ta'rif</a>
		<ul role="menu" class="dropdown-menu"> <!--materi 4 -->
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/4/1">Alif Lam Qamariyah</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/4/2">Alif Lam Syamsiyah</a>
			</li>
		</ul>
	</li>
	<li>
		<a role="presentation" data-target="dropdown"  class="text-dark dropdown-item dropdown toogle " href="<?php echo base_url(); ?>materi/5/1" style="font-style: normal;">Lam Tebal & Lam Tipis</a>
	</li> <!-- MATERI 5 -->
	<li>
		<a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="<?php echo base_url(); ?>materi/6/1">Idgham</a>
		<ul role="menu" class="dropdown-menu"> <!--MATERI 6 IDGHAM -->
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/6/1" style="font-style: normal;">Idgham</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/6/2">Idgham Mimi</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/6/3" style="font-style: normal;">Idgham Mutamatsilain</a>
			</li> 
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/6/4" style="font-style: normal;">Idgham Mutaqaribain</a>
			</li> 
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/6/5" style="font-style: normal;">Idgham Mutajanisain</a>
			</li> 
		</ul>
	</li>
	<li>
		<a role="presentation" data-target="dropdown" class=" text-dark dropdown-item  dropdown-toggle" style="font-style: normal;" href="#">Mad</a>
		<ul role="menu" class="dropdown-menu"> <!--materi 7 , ketika di file materi 7-1, 
												jangan dirubah bagian sebelum ini, copas aja yang dropdown bawahnya-->
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/7/1">Mad secara umum</a>
			</li>
			<li>
				<a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/7/2">Mad Ashli/Thabi'i</a>
			<li>
				<a role="presentation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="text-dark dropdown-item dropdown-toggle" href="#">Mad Far'i</a>
				<ul role="menu" class="dropdown-menu"> 
					<li>
						 <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/7/3">Mad far'i secara umum</a>
					</li>
					<li>
						 <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/7/4">Mad Wajib Muttashil</a>
					</li>
					<li>
						 <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/7/5">Mad Ja'iz Munfashil</a>
					</li>
					<li>
						 <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/7/6">Mad Badal</a>
					</li>
					<li>
						 <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/7/7">Mad ‘Âridh Lissukun</a>
					</li>
					<li>
						 <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/7/8">Mad Lazim</a>
					</li>
				</ul>
			</li>
			</li>
		</ul>
	</li>
	<li>
		<a role="presentation" data-target="dropdown" class=" text-dark dropdown-item" href="<?php echo base_url(); ?>materi/8/1" style="font-style: normal;">Hal Membaca Ra'</a>
	</li> <!-- MATERI 10 -->
	<li>
			<a role="presentation" data-target="dropdown" class=" text-dark dropdown-item" href="<?php echo base_url(); ?>materi/9/1" style="font-style: normal;">Qalqalah</a>
	</li> <!-- MATERI 11 -->
	<li>
			<a role="presentation" data-target="dropdown" class=" text-dark dropdown-item" href="<?php echo base_url(); ?>materi/10/1" style="font-style: normal;">Waqaf</a>
	</li> <!-- MATERI 12 -->
</ul>