<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tajwid</title>
    <link rel="stylesheet" href="<?=base_url();?>assets/bootstrap/css/bootstrap.min.css?h=ae619f5437ea767e44ee1236d0660cf8">
    <link rel="stylesheet" href="<?=base_url();?>assets/fonts/simple-line-icons.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="<?=base_url();?>assets/css/bootstrap-4-navbar.css?h=cc430e87aa28770cd181f479f11f2af9">
    <link rel="stylesheet" href="<?=base_url();?>assets/css/Footer-Basic.css?h=d15dfcb68fabe0442ff06063b052477c">
    <link rel="stylesheet" href="<?=base_url();?>assets/css/styles.css?h=716a83986b2603dcc86177b652a51c6e">
</head>

<body class="bg-menu-2">
    <div class="d-flex flex-column" id="wrapper">
        <nav class="navbar navbar-light navbar-expand-md bg-white shadow-sm">
            <div class="container-fluid"><a href="<?=base_url();?>"><img class="img-fluid d-xl-flex justify-content-xl-center align-items-xl-center" id="logo" src="<?=base_url();?>assets/img/logo.png?h=648168a5ce156ee73a42e4f14159e946"></a>
                <div></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-center" id="navcol-1">
                    <ul class="nav navbar-nav text-center d-lg-flex mx-auto">
                        <li class="nav-item" role="presentation"><a class="btn" role="button" href="<?=base_url();?>materi">MATERI</a></li>
                        <li class="nav-item" role="presentation"><a class="btn menu-aktif" role="button" href="javascript:void(0);">QUIZ</a></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul><button class="btn" id="btn-about" type="button">ABOUT</button></div>
            </div>
        </nav>
        <main class="pb-5">
            <div class="container text-center">
                <div class="row my-4">
                    <div class="col-12 text-center">
                        <h1>Pilih Level Quiz</h1>
                    </div>
                </div>
                <div class="row no-gutters text-center justify-content-center align-items-center mt-5">
                    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                        <div class="pilihan-quiz m-2"><a class="btn p-0" role="button" href="<?=base_url();?>quiz/1"><img src="<?=base_url();?>assets/img/Level.png?h=b72912ca5ed88b8ca3cf269ae1b014e4"></a>
                            <div class="locked-overlay center"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                        <div class="pilihan-quiz locked m-2"><a class="btn p-0 disabled" role="button" href="<?=base_url();?>quiz/1"><img src="<?=base_url();?>assets/img/Level.png?h=b72912ca5ed88b8ca3cf269ae1b014e4"></a>
                            <div class="locked-overlay center"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                        <div class="pilihan-quiz locked m-2"><a class="btn p-0 disabled" role="button" href="<?=base_url();?>quiz/1"><img src="<?=base_url();?>assets/img/Level.png?h=b72912ca5ed88b8ca3cf269ae1b014e4"></a>
                            <div class="locked-overlay center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="d-block page-footer">
            <p class="text-center text-white">Copyright, uinsa tajwid 2019</p>
        </footer>
    </div>
    <div id="about" class="about"><button class="btn closebtn btn-default" type="button">X</button>
        <div class="about-content">
            <h5>About Web Tajwid</h5>
            <p>Aplikasi ini cocok untuk anak kelas 1 sampai 6 SD</p>
        </div>
    </div>
    <div id="background" class="lampu"><img id="bg-bottom" src="<?=base_url();?>assets/img/asset-12.png?h=283696b518c64bb71e7a013c376b64e2"><img id="bg-top-left" class="bg-top" src="<?=base_url();?>assets/img/clipartwiki.com-lantern-cliparts-4.png?h=2381b91d027a603d328b37fd961aa658"><img id="bg-top-right" class="bg-top" src="<?=base_url();?>assets/img/clipartwiki.com-lantern-cliparts-5.png?h=0944a13567d08942716862040976c9db"></div>
    <div id="background" class="lampu"><img id="bg-bottom" src="<?=base_url();?>assets/img/asset-12.png?h=283696b518c64bb71e7a013c376b64e2"><img id="bg-top-left" class="bg-top" src="<?=base_url();?>assets/img/clipartwiki.com-lantern-cliparts-4.png?h=2381b91d027a603d328b37fd961aa658"><img id="bg-top-right" class="bg-top" src="<?=base_url();?>assets/img/clipartwiki.com-lantern-cliparts-5.png?h=0944a13567d08942716862040976c9db"></div>
    <script src="<?=base_url();?>assets/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="<?=base_url();?>assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>
    <script src="<?=base_url();?>assets/js/bootstrap-4-navbar.js?h=b895152ac31eeb67e51dab7f59b9c258"></script>
    <script src="<?=base_url();?>assets/js/functions.js?h=0ba5fd7cf954d69a01a6e36d83d2b46a"></script>
</body>

</html>