<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tajwid</title>
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/bootstrap/css/bootstrap.min.css?h=7c5c6f3b372dda7064a00895d56c1dd5">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/fonts/simple-line-icons.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/bootstrap-4-navbar.css?h=cc430e87aa28770cd181f479f11f2af9">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/Footer-Basic.css?h=d15dfcb68fabe0442ff06063b052477c">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/styles.css?h=229c80a072c6b21236479b879f1f467b">
</head>

<body class="bg-menu-2">
    <div class="d-flex flex-column" id="wrapper">
        <nav class="navbar navbar-light navbar-expand-md bg-white shadow-sm">
            <div class="container-fluid"><a href="<?php echo base_url(); ?>"><img class="img-fluid d-xl-flex justify-content-xl-center align-items-xl-center" id="logo" src="<?php echo base_url(); ?>assets/img/logo.png?h=648168a5ce156ee73a42e4f14159e946"></a>
                <div></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-center" id="navcol-1">
                    <ul class="nav navbar-nav text-center d-lg-flex mx-auto">
                        <li class="nav-item" role="presentation"><a class="btn" role="button" href="javascript:void(0);">MATERI</a></li>
                        <li class="nav-item" role="presentation"><a class="btn menu-aktif" role="button" href="<?php echo base_url(); ?>quiz">QUIZ</a></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul><button class="btn" id="btn-about" type="button">ABOUT</button></div>
            </div>
        </nav>
        <main class="d-flex flex-column flex-grow-1 flex-fill align-items-start">
            <div class="container text-center py-5">
                <div class="row text-center d-flex d-xl-flex flex-row flex-shrink-1 justify-content-center align-items-center align-content-center align-self-center flex-wrap justify-content-xl-center hasil-quiz d-none" id="quiz-lulus">
                    <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-3 offset-4 offset-sm-4 offset-md-1 offset-lg-1 offset-xl-1 align-self-center mt-4 skor-holder"><img class="d-block flex-shrink-0 align-self-center img-lulus" src="<?php echo base_url(); ?>assets/img/clipartwiki.com-taekwondo-clipart-682609.png?h=250bba5015c87ad7b70bce15b411dab7"><img class="bg-skor" src="<?php echo base_url(); ?>assets/img/icon_checkout.png?h=e527c20c2f7945101db2434e11b624a1">
                        <h1 class="skor">80</h1>
                    </div>
                    <div class="col-12 col-sm-8 col-md-5 col-lg-3 col-xl-3 d-flex flex-column align-self-center order-1 order-sm-1 px-0 mx-0 my-auto mt-4">
                        <h1>Alhamdulillah</h1>
                        <div class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start mt-5"><button class="btn btn-success d-flex float-right mr-3" id="btn-next-level" type="button">Next Level</button></div>
                    </div>
                </div>
                <div class="row text-center d-flex d-xl-flex flex-row flex-shrink-1 justify-content-center align-items-center align-content-center align-self-center flex-wrap justify-content-xl-center hasil-quiz d-none" id="quiz-gagal">
                    <div class="col-12 col-sm-8 col-md-4 col-lg-3 col-xl-3 text-center text-sm-center text-md-left text-lg-left text-xl-left align-self-center order-1 order-sm-1 px-5 px-sm-0 px-lg-0 px-md-0 px-xl-0 mx-0 my-auto mt-4">
                        <h1 class="px-0 mx-0">Alhamdulillah</h1>
                        <div class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start mt-5"><button class="btn btn-danger d-flex mr-3" id="btn-repeat-level" type="button">Try Again</button></div>
                    </div>
                    <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-3 align-self-center mt-4 skor-holder-gagal"><img class="bg-skor" src="<?php echo base_url(); ?>assets/img/icon_checkout.png?h=e527c20c2f7945101db2434e11b624a1"><img class="d-block flex-shrink-0 align-self-center img-gagal" src="<?php echo base_url(); ?>assets/img/clipartwiki.com-muslim-girl-clipart-1512559.png?h=1d8af6bfb80de94e278c1612a7add1a9">
                        <h1 class="skor gagal">80</h1>
                    </div>
                </div>
                <div class="row" id="quiz">
                    <div class="col">
                        <div class="card content-card">
                            <div class="card-body px-5">
                                <h4 class="card-title my-2" id="content-title">Quiz Level 1</h4>
                                <h5 class="text-left text-muted card-subtitle my-3" id="content-subtitle">Soal 1</h5>
                                <div class="text-left audio-holder"><audio class="audio" controls="true" src="#" preload="auto" type="audio/mpeg"></audio></div>
                                <p class="text-left card-text" id="p-soal">Bacaan Idhar Halqi terdapat pada kalimat ...<br></p>
                                <div class="text-left clearfix align-middle" id="quiz-soal"><button class="btn btn-light border rounded border-secondary float-left answer-selected mr-3 btn-answer mt-3" id="btn-answer-1" type="button">a</button><button class="btn btn-light border rounded border-secondary float-left mr-3 btn-answer mt-3"
                                        id="btn-answer-2" type="button">b</button><button class="btn btn-light border rounded border-secondary float-left mr-3 mt-3 btn-answer" id="btn-answer-3" type="button">c</button><button class="btn btn-light border rounded border-secondary float-left mr-3 mt-3 btn-answer"
                                        id="btn-answer-4" type="button">d</button><button class="btn btn-light border rounded border-secondary float-left mr-3 mt-3 btn-answer" id="btn-answer-5" type="button">e</button></div>
                                <div class="clearfix mt-4"><button class="btn btn-success float-right" id="quiz-next" type="button">Next</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1 flex-fill lampu" id="background"><img id="bg-bottom" src="<?php echo base_url(); ?>assets/img/asset-12.png?h=283696b518c64bb71e7a013c376b64e2"><img id="bg-top-left" class="bg-top" src="<?php echo base_url(); ?>assets/img/clipartwiki.com-lantern-cliparts-4.png?h=2381b91d027a603d328b37fd961aa658"><img id="bg-top-right" class="bg-top" src="<?php echo base_url(); ?>assets/img/clipartwiki.com-lantern-cliparts-5.png?h=0944a13567d08942716862040976c9db"></div>
        </main>
        <footer class="d-block page-footer pb-3 pt-2">
            <p class="text-center text-white">Copyright, uinsa tajwid 2019</p>
        </footer>
    </div>
    <div id="about" class="about"><button class="btn closebtn btn-default" type="button">X</button>
        <div class="about-content">
            <h5>About Web Tajwid</h5>
            <p>Aplikasi ini cocok untuk anak kelas 1 sampai 6 SD</p>
        </div>
    </div>
    <script src="<?php echo base_url(); ?>assets/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="<?php echo base_url(); ?>assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>
    <script src="<?php echo base_url(); ?>assets/js/bootstrap-4-navbar.js?h=b895152ac31eeb67e51dab7f59b9c258"></script>
    <script src="<?php echo base_url(); ?>assets/js/functions.js?h=74514cd30d1f624b28e6f247c35d7ace"></script>
    <script src="<?php echo base_url(); ?>assets/js/js.cookie-2.2.1.min.js?h=29c7d6518c23f2453028c4f702e8fba4"></script>
	<script>
		var baseUrl = "<?=base_url();?>";
		var maxLevelIndex = <?=$max_level;?>-1;
		var level = <?=json_encode($level);?>;
		loadLevel(new Level(level));
	</script>
</body>

</html>