<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tajwid</title>
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/bootstrap/css/bootstrap.min.css?h=7c5c6f3b372dda7064a00895d56c1dd5">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/fonts/simple-line-icons.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/bootstrap-4-navbar.css?h=cc430e87aa28770cd181f479f11f2af9">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/Footer-Basic.css?h=d15dfcb68fabe0442ff06063b052477c">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/styles.css?h=229c80a072c6b21236479b879f1f467b">
</head>

<body>
    <div class="d-flex flex-column bg-menu-2" id="wrapper">
        <nav class="navbar navbar-light navbar-expand-md bg-white shadow-sm">
            <div class="container-fluid"><a href="<?php echo base_url(); ?>"><img class="img-fluid d-xl-flex justify-content-xl-center align-items-xl-center" id="logo" src="<?php echo base_url(); ?>assets/img/logo.png?h=648168a5ce156ee73a42e4f14159e946"></a>
                <div></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-center" id="navcol-1">
                    <ul class="nav navbar-nav text-center d-lg-flex mx-auto">
                        <li class="nav-item" role="presentation"><li class="nav-item dropdown">
    <a data-toggle="dropdown" aria-expanded="false" class="btn text-dark menu-aktif" href="#" style="font-style: normal;">MATERI</a>
    <ul role="menu" class="dropdown-menu">
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Nun Sukun dan Tanwin</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idzhar Halqi</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idgham</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Ikhfa'</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Iqlab</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Mim Mati</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Ikhfa' Syafawi</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idgham Mimi</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Izhar Syafawi</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Mim dan Nun Bertasydid</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">-</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Alif Lam Ta'rif</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Alif Lam Qamariyah</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Alif Lam Syamsiyah</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Mad</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Mad Wajib Muttashil</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Mad Ja'iz Munfashil</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Mad Badal</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Ghunnah Musyayaddah</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Akmal</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Kamilah</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Naqishah</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Anqash</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Tasydid Hukum</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idgham Bighunnah</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idgham Bilaghunnah</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idgham Mutamatsilain</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idgham Mutajanisain</a>
                </li>
				<li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idgham Mutaqaribain</a>
                </li>
				<li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Idgham Mitslain</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Tasydid Ashli</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">-</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Makhorijul Huruf</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Al-Jauf</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Al-Halq</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Al-Lisan</a>
                </li>
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Al-Syafataan</a>
                </li>
				<li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Al-Khaisyum</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Alif lam Jaljalah</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Tafkhim</a>
                </li>
				<li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">Tarqiq</a>
                </li>
            </ul>
        </li>
        <li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Alif lam As Syamsyiah</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">-</a>
                </li>
            </ul>
        </li>
		<li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Alif lam Al Qomariah</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">-</a>
                </li>
            </ul>
        </li>
		<li>
            <a role="presentation" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class=" text-dark dropdown-item  dropdown-toggle" href="#" style="font-style: normal;">Alif lam Ma’rifah</a>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a role="presentation" class="dropdown-item" href="<?php echo base_url(); ?>materi/1/1">-</a>
                </li>
            </ul>
        </li>
    </ul>
</li></li>
                        <li class="nav-item" role="presentation"><a class="btn" role="button" href="<?php echo base_url(); ?>quiz">QUIZ</a></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul><button class="btn" id="btn-about" type="button">ABOUT</button></div>
            </div>
        </nav>
        <main class="flex-grow-1 flex-fill">
            <div class="container text-center py-5">
                <div class="card content-card">
                    <div class="card-body px-5">
                        <h4 class="card-title my-2">Hukum Alif Lam Ta’rif (ال)</h4>
                        <h5 class="text-left text-muted card-subtitle my-3">Alif Lam Qamariyah</h5>
                        <p class="text-left card-text"><br>yakni alif lam harus dibaca jelas ketika menghadapi huruf-huruf berikut: </p>
                        <p class="card-text arabic">(غ، ح، ج، ك، و،خ، ف، ع، ق، ي، م، ه).</p>
                        <p class="text-left card-text"><br>Contoh:</p>
                        <p class="card-text arabic">اْلجِبَال</p>
                    </div>
                </div>
            </div>
            <div id="background" class="lampu"><img id="bg-bottom" src="<?php echo base_url(); ?>assets/img/asset-12.png?h=283696b518c64bb71e7a013c376b64e2"><img id="bg-top-left" class="bg-top" src="<?php echo base_url(); ?>assets/img/clipartwiki.com-lantern-cliparts-4.png?h=2381b91d027a603d328b37fd961aa658"><img id="bg-top-right" class="bg-top" src="<?php echo base_url(); ?>assets/img/clipartwiki.com-lantern-cliparts-5.png?h=0944a13567d08942716862040976c9db"></div>
        </main>
        <footer class="d-block page-footer pb-3 pt-2">
            <p class="text-center text-white">Copyright, uinsa tajwid 2019</p>
        </footer>
    </div>
    <div id="about" class="about"><button class="btn closebtn btn-default" type="button">X</button>
        <div class="about-content">
            <h5>About Web Tajwid</h5>
            <p>Aplikasi ini cocok untuk anak kelas 1 sampai 6 SD</p>
        </div>
    </div>
    <script src="<?php echo base_url(); ?>assets/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="<?php echo base_url(); ?>assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>
    <script src="<?php echo base_url(); ?>assets/js/bootstrap-4-navbar.js?h=b895152ac31eeb67e51dab7f59b9c258"></script>
    <script src="<?php echo base_url(); ?>assets/js/functions.js?h=74514cd30d1f624b28e6f247c35d7ace"></script>
    <script src="<?php echo base_url(); ?>assets/js/js.cookie-2.2.1.min.js?h=29c7d6518c23f2453028c4f702e8fba4"></script>
</body>

</html>